<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveqh.todo.dao.ProjectDao">

    <resultMap id="projectResultMap" type="project">
        <id property="id" column="id"></id>
        <result property="intro" column="intro"></result>
        <result property="createTime" column="create_time"></result>
        <result property="deadline" column="deadline"></result>
        <result property="userId" column="user_id"></result>
    </resultMap>

    <select id="getAllProjectsCount" resultType="int">
        select count(*) from project
    </select>

    <select id="findProjectById" resultMap="projectResultMap" parameterType="int">
        select * from project where id=#{value}
    </select>

    <select id="findProjectsLikeIntro" resultMap="projectResultMap" parameterType="String">
        select * from project where intro like '%${value}%'
    </select>

    <select id="findAllProjects" resultMap="projectResultMap">
        select * from project
    </select>

    <delete id="deleteProjectById" parameterType="int">
        delete from project where id=#{value}
    </delete>

    <insert id="addProject" parameterType="project">
        insert into project(intro, create_time, deadline, user_id)
            values(#{intro}, #{createTime}, #{deadline}, #{userId})
    </insert>

    <update id="updateProject" parameterType="project">
        update project set
            intro=#{intro},
            deadline=#{deadline}
            where id=#{id}
    </update>

</mapper>