<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>

    <typeAliases>
        <typeAlias type="com.loveqh.todo.pojo.User" alias="User"></typeAlias>
        <typeAlias type="com.loveqh.todo.pojo.Project" alias="Project"></typeAlias>
        <typeAlias type="com.loveqh.todo.pojo.Step" alias="Step"></typeAlias>
    </typeAliases>

    <!-- 对事务的管理和连接池的配置 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis-mapper/userMapper.xml"/>
        <mapper resource="mybatis-mapper/projectMapper.xml"></mapper>
        <mapper resource="mybatis-mapper/stepMapper.xml"></mapper>
    </mappers>
</configuration>